body{
    background-image: url("Aliminum.jpg");
}
#CalculatorMainDiv{
    width: 250px;
    height:355px;
    margin-top:120px;
    margin-left: auto;
    margin-right:auto;
    border-color: #000;
    border-style: solid;
    border-width:3px;
    border-radius:15px;
    background-image: linear-gradient(bottom, rgb(48,46,48) 43%, rgb(51,51,51) 58%);
    background-image: -o-linear-gradient(bottom, rgb(48,46,48) 43%, rgb(51,51,51) 58%);
    background-image: -moz-linear-gradient(bottom, rgb(48,46,48) 43%, rgb(51,51,51) 58%);
    background-image: -webkit-linear-gradient(bottom, rgb(48,46,48) 43%, rgb(51,51,51) 58%);
    background-image: -ms-linear-gradient(bottom, rgb(48,46,48) 43%, rgb(51,51,51) 58%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.43, rgb(48,46,48)),
        color-stop(0.58, rgb(51,51,51))
    );

}

#TextArea{
    width: 220px;
    height:50px;
    margin-top:15px;
    margin-left: 8px;
    margin-right: 8px;
    font-size:200%;
    text-align: right;
    color:#000;
    border-color: #000;
    border-style: solid;
    border-width:2px;
    border-radius:10px;
    background-image: linear-gradient(right top, rgb(240,153,53) 52%, rgb(235,155,42) 66%);
    background-image: -o-linear-gradient(right top, rgb(240,153,53) 52%, rgb(235,155,42) 66%);
    background-image: -moz-linear-gradient(right top, rgb(240,153,53) 52%, rgb(235,155,42) 66%);
    background-image: -webkit-linear-gradient(right top, rgb(240,153,53) 52%, rgb(235,155,42) 66%);
    background-image: -ms-linear-gradient(right top, rgb(240,153,53) 52%, rgb(235,155,42) 66%);

    background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        color-stop(0.52, rgb(240,153,53)),
        color-stop(0.66, rgb(235,155,42))
    );

}
#Buttons{
    width: 230px;
    height:195px;
    border-color: #000;
    border-style: solid;
    border-width:2px;
    border-radius:10px;
    /*margin-top:20px;*/
    margin-left:auto;
    margin-right: auto;

}
.ButtonAline{
    margin-top: 7px;
    margin-left:3px;

}

.DropShadow{
    -webkit-box-shadow:  10px 10px 10px 3px rgba(0, 0, 0, 0.3);

     box-shadow:  10px 10px 10px 3px rgba(0, 0, 0, 0.3);
}